<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
  <head>
    <title>All products</title>
  </head>

<body>
  <h4>Products</h4>

<%-- Search by id form --%>
<br>
<form action="findId" method="get">
  Find by id <input name="id" type="number" value="0"/>
  <input type="submit" value="Find" />
</form>
<br>

<%-- Link to the new product form --%>
<a href ="newProduct">Add new product</a>

<%-- Current products list --%>
<ul th:each="product : ${products}">
    <li>
      <p> ID# [[${product.id}]]</p>
      <p> Title [[${product.title}]]</p>
      <p> Cost [[${product.price}]]</p>
      <a th:href="@{editProduct(id=${product.id})}">Edit</a> <a th:href="@{deleteProduct(id=${product.id})}">Delete</a>
    </li>
</ul>

</body>
</html>